Repository react-native-webrtc/react-native-callkeep, pull requests merged in 2023-01, with the labels that each got.

#618 :memo: Update `didChangeAudioRoute` documentation
  README.md
Labels: need review

#604 Fix warning in the ios documentation
  docs/ios-installation.md
Labels: ios, need review

#633 set audio mode back to normal after end call
  android/src/main/java/io/wazo/callkeep/RNCallKeepModule.java
Labels: bug, android
